@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.orange{
  color: #e55305;

}
.logo {
    width: 200px;
  font-size: 60px;
  font-family: "Anton", sans-serif;
  color: #e55305;
  align-items: center;


}

.h1Logo {
  font-size: 16px;
  color: #565b60;
padding-bottom: 20px;
 
}

.raft{
  font-family: "Anton", sans-serif;
  color: #565b60;


}

.sales{
  color: #e55305;


}
header {
  position: sticky;
  min-width: 70px;
  transition: top 1s ease;
  padding-top: 10px;
  display: flex;
  box-shadow: 0 1px #565b60;
  flex-direction: column;
  background-color:rgb(255, 255, 255) ;
  box-shadow: black ;
  z-index: 1;
  opacity: 10;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav ul {
  display: flex;
  color: #565b60;
  flex-direction: row;
  
}

ul li {
  list-style: none;
  text-transform: uppercase;
  

  
}

.nav-left li a {

  text-decoration: none;
  padding-left: 100px;

  padding-right: 100px;
font-weight: 500;
color: #565b60;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  font-family: "Poppins", sans-serif;

}



.nav-left li {
  position: relative;
  display: inline-block;
}

.nav-left li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: tomato;
  transform: scaleX(0);
  transition: transform 0.6s ease-in;
}

.nav-left li:hover:after {
  transform: scaleX(0.5);
}

.nav-right li a {
  text-decoration: none;
  margin-left: 28px;
  color: #000000;
}


/*Hearder end */


.hero {
  background-image: url("/Images/18146.jpg");
  height: 68vh;
  width: 100%;
  background-size: contain;
  background-position: right 20px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-repeat: no-repeat;
}

#hero button {
  padding: 12px 20px;
  border: 2px solid;
  cursor: pointer;
  min-width: 200px;
  margin: 10px;
  text-transform: uppercase;
  position: relative;

  
}

.text{

  position: absolute;
  top: 308px;
  left: 116px;
 
}


.text button{
  border-radius: 40px;
  color: #e55305;
  background-color: white;
  font-weight: 700;
  cursor: pointer;
 
}

.text button:hover{
  color: white ;
  background-color:#e55305;

}
h2{
  font-weight: 500;
  font-size: 40px;
}

.btn{
  color: #e55305;
  text-decoration: none;
}

.btn:hover{
  color: white;
}



/*---------------------Contact Us Form -----------------------------*/



.formContainer{
  width: 100%;
  height: 100vh;
background: #e9eaeb;

display: flex;

align-items: center;
justify-content: center;
}


form{
  background: white;

  display: flex;
  flex-direction: column;

  padding: 2vw 4vw;
  width: 100%;
  max-width: 600px;
  border-radius: 10px ;
}

form h3{
  color: #e55305;
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea{

  border: 0;
  margin-top: 10px 0;
  padding: 20px; 
  outline: #e55305;
  background: #f2f0f0;
font-size: 16px;
border-radius: 10px;

}



.submitButton{
  padding: 10px;
  background: #e55305;
  border-radius: 10px;
  color: #e9eaeb;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border: 0;
  outline: none;
  width: 150px; 
  margin: 0 auto;
}

.submitButton:hover{
  background:  #e9eaeb;
  color:#e55305;
  font-weight: 700;
  font-size: 20px;
  
}

.premium{

  text-align: center;
  text-decoration: none;
  color: #e55305;
}

/***footer**/


footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper .footer-widget {
  width: calc(20% - 30px);
  margin: 0 15px 50px;
  padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
  width: calc(40% - 50px);
  margin-right: 15px;
}

.wrapper .footer-widget .logo {
  margin-bottom: 30px;
  vertical-align: middle;
}

.wrapper .footer-widget p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.wrapper .footer-widget .socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
  list-style: none;
}

.wrapper .footer-widget .socials li a {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: #ffffff;
  background-color: rgba(3, 127, 243, 0.5);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
  background-color: #037ef3;
}

.wrapper .footer-widget h6 {
  color: #585978;
  margin: 10px 0 35px;
  font-size: 20px;
  font-weight: 600;
}

.wrapper .footer-widget .links li {
  list-style: none;
}

.wrapper .footer-widget .links li a {
  color: #585978;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 32px;
  transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
  color: #e55305;
}

.copyright-wrapper {
  padding: 20px 0;
  border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright-wrapper p {
  color: rgba(88, 89, 120, 0.6);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.copyright-wrapper p a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
  color: #e55305;
}

/* Let's write the media query */
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .wrapper .footer-widget,
  .wrapper .footer-widget:nth-child(1) {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .wrapper .footer-widget,
  .wrapper .footer-widget:nth-child(1) {
    width: 100%;
    margin: 0 10px 50px;
  }
}



